<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>
            ABOUT
        </title>
    </head>

    <body>
        <h1>
            Rango says here is the about page
        </h1>
        <div>
        <br/>
            <strong>
                {{ aboutmessage }}
            </strong><br/>
        </div>
        <div>
            <a href="/rango/">Index</a><br/>

{#            <a href="/rango/about/">About</a>><br/>#}
            <img src="{% static "images/about.jpg" %}"
                 alt = "Picture of Rango" />

            <img src="{{ MEDIA_URL}}cat.jpg" alt="Picture of cat" />
        </div>
    </body>
</html>